<h1>This is the secret page</h1>
<p>You found me</p>
<img src="https://pikwizard.com/photos/5d30f9e276473c944153e9e60ba415d1-s.jpg"></img>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>